<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0xD83D0xDE04</key>
	<string>😀</string>
	<key>U+1F601</key>
	<string>😁</string>
	<key>U+1F602</key>
	<string>😂</string>
	<key>U+1F605</key>
	<string>😅</string>
	<key>U+1F603</key>
	<string>😃</string>
	<key>U+1F604</key>
	<string>😄</string>
	<key>U+1F606</key>
	<string>🤗</string>
	<key>U+1F609</key>
	<string>😉</string>
	<key>U+1F60A</key>
	<string>😊</string>
	<key>U+1F60B</key>
	<string>😋</string>
	<key>U+1F60E</key>
	<string>😎</string>
	<key>U+1F60D</key>
	<string>😍</string>
	<key>U+1F618</key>
	<string>😘</string>
	<key>U+1F617</key>
	<string>😗</string>
	<key>U+263A</key>
	<string>☺️️</string>
	<key>U+1F642</key>
	<string>🙂</string>
	<key>U+1F914</key>
	<string>🤔</string>
	<key>U+1F610</key>
	<string>😐</string>
	<key>U+1F611</key>
	<string>😑</string>
	<key>U+1F636</key>
	<string>😶</string>
	<key>U+1F644</key>
	<string>🙄</string>
	<key>U+1F60F</key>
	<string>😏</string>
	<key>U+1F623</key>
	<string>😣</string>
	<key>U+1F625</key>
	<string>😥</string>
	<key>U+1F62E</key>
	<string>😮</string>
	<key>U+1F910</key>
	<string>🤐</string>
	<key>U+1F62F</key>
	<string>😯</string>
	<key>U+1F62A</key>
	<string>😪</string>
</dict>
</plist>
